html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header__title {
    color: #d9ccff;
    background-color: #3f053f;
    font: italic 2.8em "Fira Sans", serif;
    text-shadow: 1px 2px 5px #f517f5;
}

.header__button {
    background-color: #d0b3df;
    border: groove #4d004d;
    padding: 10px;
    color: #2f022f;
    border-radius: 5px;
    cursor: pointer;
}

.background {
    background-color: #d9ccff;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.darkBackground {
    background-color: #000000;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    color: #d9ccff;
}

.fonts {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}